<div class="row" style="margin-right: 0px;;">
    <div class="col-lg-3 " style="height:100vh;position: fixed;">
        <center>
            <img src="/student-images/<%=user.ID%>.jpg" height="200px" width="200px" style="border-radius: 50%;margin-top: 30px;">
            <hr style="width:40%">
            <h1 style="font-family: 'Enriqueta', serif;">
                <%=user.Name%>
            </h1>
            <br><br>
            <div style="text-align: left;padding-left:50px;">
                <p style="font-family: 'Press Start 2P', cursive; font-size: 11px;"><strong>College Id:</strong>
                    <%=user.ID%>
                </p>
                <p style="font-family: 'Press Start 2P', cursive; font-size: 11px;"><strong>Phone Number:</strong>
                    <%=user['Phone Number']%>
                </p>
                <p style="font-family: 'Press Start 2P', cursive; font-size: 11px;"><strong>Age:</strong>
                    <%=user.Age%>
                </p>
                <p style="font-family: 'Press Start 2P', cursive; font-size: 11px;"> <strong>Year:</strong>

                    <%=user.Year%> to
                        <%=user.Year+4%>
                </p>
                <p style="font-family: 'Press Start 2P', cursive; font-size: 11px;"><strong>Batch:</strong>
                    <%=user['Batch']%>
                </p>
                <p style="font-family: 'Press Start 2P', cursive; font-size: 11px;"><strong>Fees Status:</strong>
                    <%=user['Fees Status']%>
                </p><br><br>
                <button class="btn btn-success">Logout</button>
                <br><br>

            </div>
            <div class="footer my-auto" style="background-color: #f1f1f1;bottom: 0;position:absolute;left:0;margin-left: 20px;;">
                <center>
                    <p>Terms and Conditions</p>
                </center>
            </div>

        </center>
    </div>
    <div class="col-lg-3" style="margin-left:25%;padding:30px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);position: fixed;">
        <a href="/events/<%=user['SID']%>" style="text-decoration: none;">
            <div class="alert alert-danger">
                <center>
                    <img src="/images/events.png" height="150px" width="150px">
                    <h2>Events</h2>
                </center>
            </div>
        </a>
        <a href="/professors/<%=user['SID']%>" style="text-decoration: none;">
        <div class="alert alert-warning">
            <center>
                <img src="/images/professors.png" height="150px" width="150px">
                <h2>Professors</h2>
            </center>
        </div>
        </a>
        <a href="/results/<%=user['SID']%>" style="text-decoration: none;">
        <div class="alert alert-info">
            <center>
                <img src="/images/results.png" height="150px" width="150px">
                <h2>Results</h2>
            </center>
        </div>
        </a>
    </div>
    <div class="col-lg-6" style="margin-left:50%;padding:30px;">
         <a href="/dashboard/<%=user.SID%>" style="text-decoration: none;">
                ↩️</a>
        <center>
            <h1 style="font-family: 'Press Start 2P', cursive;color: #D4EDDA;">Assignments</h1>
            <br>
            <%assignments.forEach((assignment)=>{%>
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">
                        <%=assignment.Heading%>
                    </h4>
                    <p>Deadline :
                        <%=assignment.Deadline%>
                    </p>
                    <p>Batch :
                        <%=assignment.Batch%>
                    </p>
                    <hr>
                    <p class="mb-0">
                        <%=assignment.Content%>
                    </p>
                </div>
                <%})%>
        </center>
    </div>
</div>