<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
</head>

<body>
    <div class="container">
        <h1 style="font-family: 'Oswald', sans-serif;">Events</h1>
        <hr/>
        <div class="row">

            <% if(events){ events.forEach(function(event){ %>
                <div class="col-lg-6">
                    <div class="alert alert-danger" role="alert">
                        <center>
                            <img src="<%=event['Image URLs']%>" style="height: 300px;width:440px;" class="rounded">
                            <br>
                            <%if(event.URL){%>
                                <a href="<%=event.URL%>">Follow Here</a>
                                <%}%>
                                    <h5 class="mb-1">
                                        <%=event.Heading%>
                                    </h5>
                                    <small><%=event['Date Time']%></small>
                                    <p class="mb-1">
                                        <%=event.Description%>
                                    </p>
                        </center>


                    </div>
                </div>
                <%})}%>

        </div>
    </div>


    <!-- page-wrapper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>