<div class="row" style="margin-right: 0px;;">
    <div class="col-lg-3 " style="height:100vh;position: fixed;">
        <center>
            <img src="/student-images/<%=user.ID%>.jpg" height="200px" width="200px" style="border-radius: 50%;margin-top: 30px;">
            <hr style="width:40%">
            <h1 style="font-family: 'Enriqueta', serif;">
                <%=user.Name%>
            </h1>
            <br><br>
            <div style="text-align: left;padding-left:50px;">
                <p style="font-family: 'Press Start 2P', cursive; font-size: 11px;"><strong>College Id:</strong>
                    <%=user.ID%>
                </p>
                <p style="font-family: 'Press Start 2P', cursive; font-size: 11px;"><strong>Phone Number:</strong>
                    <%=user['Phone Number']%>
                </p>
                <p style="font-family: 'Press Start 2P', cursive; font-size: 11px;"><strong>Age:</strong>
                    <%=user.Age%>
                </p>
                <p style="font-family: 'Press Start 2P', cursive; font-size: 11px;"> <strong>Year:</strong>

                    <%=user.Year%> to
                        <%=user.Year+4%>
                </p>
                <p style="font-family: 'Press Start 2P', cursive; font-size: 11px;"><strong>Batch:</strong>
                    <%=user['Batch']%>
                </p>
                <p style="font-family: 'Press Start 2P', cursive; font-size: 11px;"><strong>Fees Status:</strong>
                    <%=user['Fees Status']%>
                </p><br><br>
                <button class="btn btn-success">Logout</button>
                <br><br>

            </div>
            <div class="footer my-auto" style="background-color: #f1f1f1;bottom: 0;position:absolute;left:0;margin-left: 20px;;">
                <center>
                    <p>Terms and Conditions</p>
                </center>
            </div>

        </center>
    </div>
    <div class="col-lg-3" style="margin-left:25%;padding:30px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);position: fixed;">
        <a href="/assignments/<%=user['ID']%>" style="text-decoration: none;">
            <div class="alert alert-success">
                <center>
                    <img src="/images/assignments.png" height="150px" width="150px">
                    <h2>Assignments</h2>
                </center>
            </div>
        </a>
        <div class="alert alert-warning">
            <center>
                <img src="/images/professors.png" height="150px" width="150px">
                <h2>Professors</h2>
            </center>
        </div>
        <div class="alert alert-info">
            <center>
                <img src="/images/results.png" height="150px" width="150px">
                <h2>Results</h2>
            </center>
        </div>
    </div>
    <div class="col-lg-6" style="margin-left:50%;padding:30px;">
        <a href="/dashboard/" style="text-decoration: none;">
                ↩️</a>
        <center>
            <h1 style="font-family: 'Press Start 2P', cursive;color: #FFF3CD;">
                Professors</h1>
            <br>
            <div class="row">
                <%professors.forEach((professor)=>{%>

                    <div clas="col-lg-4" style="margin-left:30px;">
                        <div class="alert alert-warning" role="alert" style="padding:40px;">
                            <center>
                                <img src="/professor-images/<%=professor.ID%>.jpg" style="border-radius: 50%;width:170px;height: 170px;border:2px solid palegoldenrod">
                                <br><br>
                                <h4>
                                    <%=professor.Name%>
                                </h4>
                                <hr/>
                                <h6>
                                    Phone Number: +91
                                    <%=professor['Phone Number']%>
                                </h6>
                                <h6>
                                    Email:
                                    <%=professor['Email']%>
                                </h6>
                                <h6>
                                    <%=professor.Role%>
                                </h6>
                            </center>
                        </div>
                    </div>
                    <%})%>
            </div>
        </center>
    </div>
</div>